{% load static %}
{% include 'nav.html' %}
<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Jayasurya</title>
        <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
</head>
<body class="text-center">
    <h1>Jayasurya</h1>
    <img class="img-thumbnail" src="{% static 'images/Jayasurya_in_2016.jpg' %}">
    <div class="p-5">
        <p>Jayasurya (born 31 August 1978) is an Indian actor, distributor, sponsor, model, film producer, playback singer, and impressionist who works in Malayalam films. He has appeared in more than 100 films and has won several awards, including a National Film Award, three Kerala State Film Awards, two Filmfare Awards South for acting and Best Actor at the Cincinnati Film Festival held in Cincinnati, US. Jayasurya has also appeared in a few Tamil films</p>
        <p>Jayasurya began his career as a mimicry artist and hosted a few television shows on Malayalam channels. He made his acting debut as a background actor in the 1999 film Pathram. His break-through was playing a mute in Oomappenninu Uriyadappayyan (2002).[3] In the 2000s, Jayasurya was popular for his comic-oriented roles in Swapnakkoodu (2003), Pulival Kalyanam (2003), Chathikkatha Chanthu (2004), Chocolate (2007) and Gulumaal (2009), as well as his villainous in Classmates (2006), Arabikkatha (2007), and Kangaroo (2007).</p>
    </div>
 <script src="{% static './js/bootstrap.bundle.js' %}">  </script>
</body>
</html>