{% load static %}
{% include 'nav.html' %}
<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Jayaram</title>
        <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
</head>

<body class="text-center">
    <h1>Jayaram</h1>
    <img class="img-thumbnail" src="{% static 'images/220px-Jayaram_2008.jpg' %}">
    <div class="p-5">
        <p>Jayaram Subramaniam, (born 10 December 1965) known mononymously as Jayaram, is an Indian actor who predominantly works in Malayalam cinema. He has also appeared in Tamil and Telugu language films. He is also a chenda percussionist, mimicry artist, and occasional playback singer. Jayaram has acted in more than 200 films and has received several awards, including the Padma Shri, two Kerala State Film Awards, one Tamil Nadu State Film Awards, and four Filmfare Awards South.</p>
        <p>Jayaram started as a mimicry artist at the Kalabhavan Institute during the 1980s. He made his acting debut in a leading role in Padmarajan's 1988 film Aparan. He established himself as a successful leading actor in the 1990s by starring in family dramas and comedies—such as, but not limited to Peruvannapurathe Visheshangal (1989), Shubhayathra (1990), Sandhesam (1991), Georgootty C/O Georgootty (1991), Malootty (1992), Ayalathe Adheham (1992), Meleparambil Aanveedu (1993), CID Unnikrishnan B.A., B.Ed. (1994), Puthukkottayile Puthumanavalan (1995), Aniyan Bava Chetan Bava (1995), Thooval Kottaram (1996), Krishnagudiyil Oru Pranayakalathu (1997), Summer in Bethlehem (1998), Veendum Chila Veettukaryangal (1999), One Man Show (2001), and Manassinakkare (2003).</p>
    </div>
 <script src="{% static './js/bootstrap.bundle.js' %}">  </script>
</body>
</html>
