{% load static %}
{% include 'nav.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Sreenivasan</title>
        <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
</head>
<body class="text-center">
    <h1>Sreenivasan</h1>
    <img class="img-thumbnail" src="{% static 'images/sreenivasan.jpg' %}">
    <div class="p-5">
        <p>Sreenivasan (born 6 April 1956) is an Indian actor, screenwriter, director, dubbing artist and producer who predominantly works in Malayalam cinema.[1] Sreenivasan has starred in over 225 films. Sreenivasan wrote the screenplays of films such as Odaruthammava Aalariyam (1984), Sanmanassullavarkku Samadhanam (1986), Gandhinagar 2nd Street (1986), Nadodikkattu (1987), Pattanapravesham (1988), Varavelpu (1989), Thalayana Manthram (1990), Sandesam (1991), Midhunam (1993), Mazhayethum Munpe (1995), Azhakiya Ravanan (1996), Oru Maravathoor Kanavu (1998), Udayananu Tharam (2005), Katha Parayumpol (2007), and Njan Prakashan (2018) among which the latter is one of the highest-grossing Malayalam films of all time. He has won two Kerala State Film Awards for Best Screenplay, for Sandesam and Mazhayethum Munpe.</p>
        <p>As a writer and actor he has frequently collaborated with directors such as Priyadarshan, Sathyan Anthikad and Kamal. As a Filmmaker, he scripted and directed Vadakkunokkiyanthram (1989) and Chinthavishtayaya Shyamala (1998). While Vadakkunokkiyanthram (1989) won the Kerala State Film Award for Best Film, Chinthavishtayaya Shyamala (1998) won the National Film Award for Best Film on Other Social Issues and Best Popular Film Award at the 29th Kerala State Film Awards.[2] He co-produced Katha Parayumpol (2007) and Thattathin Marayathu (2012) under the banner Lumiere Film Company, along with actor Mukesh.</p>
    </div>
        <script src="{% static './js/bootstrap.bundle.js' %}">  </script>
</body>
</html>